@model PagingResultVM<StudentManagement.Models.StudentPagingVM>

@{
    ViewData["Title"] = "GetAllStudent";
}

<h1>GetAllStudent</h1>

<p>
    <a asp-action="CreateStudent">Create New Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Student Name
            </th>
            <th>
                Student User Name
            </th>
            <th>
                Contact
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
